{% extends 'base.html.twig' %}

{% block title %}Nouveau post - SymfoConnect
{% endblock %}

{% block body %}
	<h1>Créer un nouveau post</h1>
	{{ form_start(form) }}
	{{ form_row(form.content) }}
	<button class="btn btn-primary">Publier</button>
	{{ form_end(form) }}
{% endblock %}
